header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(25rem - 72px);
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.80;
}